.navbar, .sidebar{
  background: url("https://i.pinimg.com/originals/bc/b4/5f/bcb45f1a18be7f17c9d13d81878f72ef.jpg");
}

.sidebar{
  width: 15% !important;
}

.nav-link{
  border: 1px solid lightblue !important;
  box-shadow: 1px 1px 1px 1px lightblue !important;
  margin-left: 5px !important;
}

.active-link{
  border-bottom: 3px solid darkcyan !important;
}